@model IEnumerable<VidlyApp.Models.Customer>
@{
    ViewData["Title"] = "Customers Page";
}

<h2>Customer</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in Model)
            {
                <tr>
                    <td>
                        <a class="link-primary" asp-area="" asp-controller="Customers" asp-action="Detail" asp-route-id="@customer.Id">@customer.Name</a>
                    </td>
                    <td>
                        @customer.MembershipType?.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

