@model IEnumerable<VidlyApp.Models.Customer>
@{
    ViewData["Title"] = "Customers Page";
}

<h2>Customer</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <div class="list-group">
        @foreach(Customer customer in Model)
        {
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Customers" asp-action="Detail" asp-route-id="@customer.Id">@customer.Name</a>
        }
    </div>
}

